Repository codeandpepper/janush, pull requests merged in 2022-06, with the labels that each got.

#246 [E2E] Update Cypress to the new major version
  .eslintignore
  package-lock.json
  package.json
  schematics/web/e2e/framework/files/cypress/authentication/cypress.config.ts.template
  schematics/web/e2e/framework/files/cypress/authentication/cypress.json.template
  schematics/web/e2e/framework/files/cypress/authentication/e2e/sign-in.cy.ts.template
  schematics/web/e2e/framework/files/cypress/authentication/e2e/sign-up.cy.ts.template
  schematics/web/e2e/framework/files/cypress/authentication/plugins/index.ts.template
  schematics/web/e2e/framework/files/cypress/authentication/scripts/cypress-run.js.template
  schematics/web/e2e/framework/files/cypress/authentication/support/commands.ts.template
  schematics/web/e2e/framework/files/cypress/authentication/support/e2e.ts.template
  schematics/web/e2e/framework/files/cypress/authentication/support/methods/auth-commands.ts.template
  schematics/web/e2e/framework/files/cypress/authentication/support/methods/aws-calls.ts.template
  schematics/web/e2e/framework/files/cypress/authentication/support/methods/base-commands.ts.template
  schematics/web/e2e/framework/files/cypress/authentication/support/methods/generate-data.ts.template
  schematics/web/e2e/framework/files/cypress/base/cypress.config.ts.template
  schematics/web/e2e/framework/files/cypress/base/cypress.json.template
  schematics/web/e2e/framework/files/cypress/base/e2e/initial-test.cy.ts.template
  schematics/web/e2e/framework/files/cypress/base/plugins/index.ts.template
  schematics/web/e2e/framework/files/cypress/base/scripts/cypress-run.js.template
  schematics/web/e2e/framework/files/cypress/base/support/commands.ts.template
  schematics/web/e2e/framework/files/cypress/base/support/e2e.ts.template
  schematics/web/e2e/framework/files/cypress/base/support/methods/base-commands.ts.template
  schematics/web/e2e/framework/files/playwright/authentication/pageObjects/methods/globalCommands.ts.template
  schematics/web/e2e/framework/files/playwright/authentication/tests/signIn.spec.ts.template
  schematics/web/e2e/framework/files/playwright/authentication/tests/signUp.spec.ts.template
  schematics/web/e2e/framework/files/shared/selectors/auth-selectors.ts.template
  schematics/web/e2e/framework/files/shared/selectors/index-page.ts.template
  schematics/web/e2e/framework/utils/cypress/packageJsonExtender.ts
  schematics/web/template/files/package.json.template
  utils/dependencies.ts
Labels: web, E2E tests

#254 [E2E] Update Playwright to the newest version
  package.json
  schematics/web/e2e/framework/files/cypress/authentication/e2e/sign-up.cy.ts.template
  schematics/web/e2e/framework/files/playwright/authentication/.eslintrc.js.template
  schematics/web/e2e/framework/files/playwright/authentication/.eslintrc.json.template
  schematics/web/e2e/framework/files/playwright/authentication/e2e/sign-in.spec.ts.template
  schematics/web/e2e/framework/files/playwright/authentication/e2e/sign-up.spec.ts.template
  schematics/web/e2e/framework/files/playwright/authentication/page-objects/methods/aws-calls.ts.template
  schematics/web/e2e/framework/files/playwright/authentication/page-objects/methods/generate-data.ts.template
  schematics/web/e2e/framework/files/playwright/authentication/page-objects/methods/global-commands.ts.template
  schematics/web/e2e/framework/files/playwright/authentication/playwright.config.ts.template
  schematics/web/e2e/framework/files/playwright/base/.eslintrc.js.template
  schematics/web/e2e/framework/files/playwright/base/.eslintrc.json.template
  schematics/web/e2e/framework/files/playwright/base/e2e/initial-test.spec.ts.template
  schematics/web/e2e/framework/files/playwright/base/page-objects/methods/global-commands.ts.template
  schematics/web/e2e/framework/files/playwright/base/playwright.config.ts.template
  schematics/web/e2e/framework/utils/playwright/packageJsonExtender.ts
  utils/dependencies.ts
Labels: web, E2E tests

#260 259 update libraries to latest version
  schematics/cloud/template/files/package.json.template
Labels: bug, cloud

#264 Fix bug with not generating API in pipeline
  .github/workflows/main.yml
  package-lock.json
  schematics/cloud/api/appsync/data/expectedNewFiles.json
  schematics/cloud/api/appsync/files/schema.graphql.template
Labels: bug, cloud, ci

#266 bugfix: add default AppSyncSchema to API
  schematics/cloud/api/appsync/files/schema.graphql.template
Labels: bug, cloud

#268 [E2E] Cover "Reset password" feature with Cypress tests
  schematics/web/e2e/framework/files/cypress/authentication/e2e/reset-password.cy.ts.template
  schematics/web/e2e/framework/files/cypress/authentication/e2e/sign-in.cy.ts.template
  schematics/web/e2e/framework/files/cypress/authentication/e2e/sign-up.cy.ts.template
  schematics/web/e2e/framework/files/cypress/authentication/support/index.d.ts.template
  schematics/web/e2e/framework/files/cypress/authentication/support/methods/auth-commands.ts.template
  schematics/web/e2e/framework/files/shared/selectors/auth-selectors.ts.template
Labels: web, E2E tests
